<mat-toolbar color="primary">
  <span class="brand" routerLink="/">Auth Service</span>
  
  <span class="flex-spacer"></span>
  
  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
      {{ user.firstName }}
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </ng-container>
  
  <ng-template #loginButton>
    <button mat-button routerLink="/login">
      <mat-icon>login</mat-icon>
      Sign In
    </button>
    <button mat-raised-button color="accent" routerLink="/register">
      Create Account
    </button>
  </ng-template>
</mat-toolbar>